[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-allow-list=pydantic

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    line-too-long,
    no-self-argument

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120
