DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/watchlist_db
MARKET_DATABASE_URL=postgresql+asyncpg://InvestKode:Xpolog%4000%26@finglobalai-data-dum.postgres.database.azure.com:5432/financial_db?ssl=require
SECRET_KEY=yoursecretkey
ALGORITHM=HS256
REDIS_URL=redis://localhost:6379/0